<style>
  table{
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
  }

  nav{
    margin-top: 40px;
  }
</style>

<div class="p-3">
  <form class="d-flex p-3">
    <input class="form-control me-2" type="search" placeholder="Buscar produtos..." aria-label="Buscar">
    <button class="btn btn-outline-dark" type="submit">Buscar</button>
  </form>
</div>


<table class="table p-3">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Cód.</th>
    <th scope="col">Nome</th>
    <th scope="col">Quantidade</th>
    <th scope="col">Unidade</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let produto of produtos">
    <td>{{produto.codProduto}}</td>
    <td>{{produto.nome}}</td>
    <td>{{produto.quantidade}}</td>
    <td>{{produto.unidade}}</td>
    <td>
      <button type="button" class="btn btn-warning btn-sm" (click)="editProduto(produto)">Editar</button>
      <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteProduto(produto)">Deletar</button>
    </td>
  </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link text-dark" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Anterior</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
    <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
    <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link text-dark" href="#" aria-label="Next">
        <span class="sr-only">Próxima</span>
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
