<style>
  .card {
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
  }

  nav {
    margin-top: 40px;
  }
</style>

<div class="p-3" ng-controller="myController">
  <form class="d-flex p-3">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Procurar por código do cliente..."
      aria-label="Buscar"
      [(ngModel)]="searchText"
      name="searchText"
    />
    <button class="btn btn-outline-dark" type="submit">Buscar</button>
  </form>
</div>

<div class="card">
  <div class="card-body">
    <table class="table p-3"  method="post" [formGroup]="produtoForm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Cód.</th>
          <th scope="col">Nome</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Unidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos |filter: searchText">
          <td>{{ produto.codProduto }}</td>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.quantidade }}</td>
          <td>{{ produto.unidade }}</td>
          <td><input type="hidden" name="id" formControlName="id"/></td>
          <td>
            <!--  <button
              type="button"
              class="btn btn-warning btn-sm"
              [routerLink]="['/editar-prod']"
            >
              Editar
            </button> -->
            <button
              type="button"
              class="btn btn-danger btn-sm ml-1"
              (click)="deleteProduto(produto)"
            >
              Deletar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover este produto?</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete($event)">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="declineDelete()">
      Não
    </button>
  </div>
</ng-template>

<!--
  <div class="card">
  <div class="card-body">
    <form
      method="post"
      [formGroup]="produtoTableForm"
      class="border border-4 p-3"
    >
      <table class="table p-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Cód.</th>
            <th scope="col">Nome</th>
            <th scope="col">Unidade</th>
            <th scope="col">Qtd. Total</th>
            <th scope="col">Reservado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <td>
              <input
                type="hidden"
                name="codProduto"
                id="codProduto"
                formControlName="codProduto"
              />
              {{ produto.codProduto }}
            </td>
            <td>
              <input
                type="hidden"
                name="nome"
                id="nome"
                formControlName="nome"
              />
              {{ produto.nome }}
            </td>
            <td>
              <input
                type="hidden"
                name="unidade"
                id="unidade"
                formControlName="unidade"
              />
              {{ produto.unidade }}
            </td>
            <td>
              <input
                type="hidden"
                name="quantidade"
                id="quantidade"
                formControlName="quantidade"
              />
              {{ produto.quantidade }}
            </td>
            <td>
              {{ produto }}
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm ml-1">
                Deletar
              </button>
            </td>
          </tr>
        </tbody>
        <br />
        <button
          type="button"
          class="btn btn-success btn-sm ml-1"
          (click)="gravarProdutos()"
        >
          Gravar
        </button>
      </table>
    </form>
  </div>
</div>
-->
