<style>
  form{
  margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
</style>


    <form method="post" [formGroup]="formProduto" id="add-form" class="border border-4 p-3">
    <div class="form-row">
      <h1>
        Cadastro de Produtos
      </h1>
      <div class="row g-2">
        <div class="row">
          <div class="col-md-2 p-3">
            <label >Cód. Produto</label>
            <input type="number"class="form-control" placeholder="Digite o código do produto" formControlName="codProduto" name="codProduto" required>
          </div>
          <div class="col-md-5 p-3">
            <div class="">
            <label >Nome</label>
            <input type="text" class="form-control" placeholder="Digite o nome do produto" formControlName="nome" name="nome" required>
            </div>
        </div>
      </div>

      </div>
    </div>
      <div class="form-row">
        <div class="row g-3">
          <div class="row">
            <div class="col-md-2 p-3">
              <label>Quantidade</label>
              <input type="number" class="form-control" placeholder="Digite a quantidade do produto" formControlName="quantidade" name="quantidade" required>
            </div>
            <div class="col-md-2">
              <div class="p-3">
                <label>Unidade</label>
                <select class="form-select" formControlName="unidade" name="unidade" *ngFor="let unidade of unidades">
                  <option value="1">{{unidade.nomeUnidade}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="p-3">
                <label>Grupo</label>
                <select class="form-select" formControlName="grupo" name="grupo" *ngFor="let grupo of grupos">
                  <option value="{{grupo.idGrupo}}">{{grupo.nomeGrupo}}</option>
                </select>
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-primary" [disabled]="formProduto.invalid" (click)="saveProduto()">Inserir</button>
          </div>
        </div>
      </div>
</form>

